/*-----------------
    RESET
------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------------


    LAYOUT


------------------------------*/
.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/*---------------------------





------------------------------*/
/*---------------------------
header
------------------------------*/

nav div {
  flex-grow: 4;
}
nav ul {
  text-align: center;
  flex-grow: 3;
  justify-content: center;
}
nav li {
  padding: 40px 10px;
  list-style: none;
}
nav a {
  display: inline-block;
  text-decoration: none;
}
/*---------------------------
main
------------------------------*/
main section:first-of-type {
  background-color: #1c1c1c;
  color: white;
}
main .top-section {
  font-size: 25px;
  padding: 30px 5px;
}
main section:last-of-type {
  background-color: #0282f9;
  color: white;
}
main ul {
  display: flex;
}
main li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
main img {
  max-height: 40%;
}
main a {
  padding: 0px 10px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
/*---------------------------
footer
------------------------------*/
footer .top-section {
  background-image: url("./footer-bg.jpg");
  color: white;
}
footer a {
  color: grey;
  text-decoration: none;
}
section > div:first-of-type {
  display: flex;
}
.container > div {
  padding-left: 15px;
}
footer li {
  list-style: none;
}
footer .top-section img {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  top: -40px;
}
